[Unit]
Description=DTrack Gateway
After=multi-user.target

[Service]
Type=simple
Restart=always
WorkingDirectory=/home/ubuntu/dtrack_gateway
ExecStart=/usr/bin/python3 /home/ubuntu/dtrack_gateway/gateway.py

[Install]
WantedBy=multi-user.target
